
body {
    font-family: sans-serif;
    background-color: #f9f9f9; 
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


h1 {
    text-align: center;
    color: #2c3e50;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
}


nav {
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


main {
    padding: 20px;
    text-align: center;
}
main img {
    max-width: 300px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}


footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
